<header class="header">
  <h1 class="header-title">
    <i class="fa fa-terminal" style="font-size:0.5em;" aria-hidden="true"></i> <br>
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </h1>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>
