/* SCSS Variables */

/*--------------
  Font
  -------------- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@import url('//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css');
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

$base-font: "";
$code-font: 'Nanum Gothic Coding', monospace;
$code-gist-font: 'Nanum Gothic Coding', monospace !important;


/*--------------
  Color
  -------------- */
$base-color: #444444;
$base-lighten-color: lighten($base-color, 50);

$background-color: #fff;
$background-over-color: transparent;

$text-color: #333;
$link-color: #268bd2;
$code-color: #bf616a;
$code-background-color: #F0F0F0;
$table-border-color: #e5e5e5;
$table-background-color: #f9f9f9;
